<!DOCTYPE html>
  <html>
    <head>
      <title>Hello Friend!</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    </head>
    <body>
      <h1>Favorite Traveling Photos</h1>
      <br>
      <ul>
        <li><img src='~/img/photo1.jpg'/></li>
        <br>
        <li><img src='~/img/photo2.jpg'/></li>
        <br>
        <li><img src='~/img/photo3.jpg'/></li>
        <br>
      </ul>
    </body>
  </html>